{% extends 'application.njk' %}
{% block content %}
  <h2>The Project</h2>
  <p>
    This project for this workshop was inspired by the classic 
    "Song that Doesn't End" from the children's show 
    Lamb Chop's Play-Along!
  </p>
  <iframe 
    allow="autoplay; encrypted-media" 
    allowfullscreen
    frameborder="0" 
    height="315" 
    src="https://www.youtube.com/embed/1_47KVJV8DU" 
    width="560" 
  ></iframe>
{% endblock %}
