{% extends 'application.njk' %}
{% block head %}
  <style>
    /* ===== [1] ===== */
    /* Simulates an "accidental" modification to the verse styles. */
    .line { 
      color: blue; 
      font-family: cursive; 
    }
  </style>
{% endblock %}

{% block content %}
  <p>
    <button id="restart" type="button">Restart</button> 
  </p>

  <div id="song"></div>
  
  <template id="verse">
    <!-- ===== [2] ===== -->
    <style>
      .verse {
        font-family: monospace;
        margin: 0 0 1em 1em;
      }
    </style>

    <div class="verse">
      <div class="line">This is the song that doesn't end</div>
      <div class="line">Yes, it goes on and on my friend</div>
      <div class="line">Some people started singing it, not knowing what it was</div>
      <div class="line">And they'll continue singing it forever just because</div>
    </div>
  </template>
  
  <script>
    const elSong = document.getElementById('song')
    const btnRestart = document.getElementById('restart')
    const tmpVerse = document.querySelector('template#verse')

    /* ===== [3] ===== */
    // OPTION 1: "open" Shadow Root
    elSong.attachShadow({ mode: 'open' })
    // OPTION 2: "closed" Shadow Root
    //let _$song = elSong.attachShadow({ mode: 'closed' })

    function sing () {
      let cloneVerse = tmpVerse.content.cloneNode(true)

      // OPTION 1: "open" shadow root
      elSong.shadowRoot.appendChild(cloneVerse)
      // OPTION 2: "closed" shadow root
      //_$song.appendChild(cloneVerse)
    }

    function restart () {
      // OPTION 1: "open" shadow root
      elSong.shadowRoot.innerHTML = ''
      // OPTION 2: "closed" shadow root
      //_$song.innerHTML = ''
    }

    sing() // Start Singing
    window.setInterval(sing, 5000) // Keep singing... forever

    // Wire up "restart" behavior
    btnRestart.addEventListener('click', restart)
  </script>

  <!--
    SOLVED:
      Protected accidental CSS modification by encapsulating CSS in the ShadowDOM.

      - [1] Global CSS doesn't affect Shadow DOM styling
      - [2] Styles moved into the <template>
      - [3] attachShadow() creates a shadow root for adding content (i.e., "Shadow DOM") that is 
        "isolated" from the parent DOM (i.e., "Light DOM").

    NOTES:
      - Polyfills may be required if the browser doesn't support the ShadowDOM v1 API.
      - [3] attachShadow() configured with one of two modes:
        - attachShadow({ mode: 'open' })
          - RECOMMENDED
          - Shadow DOM content is "open" and available to Light DOM JavaScript via the el.shadowRoot property.
          - This mode provides more access to perform tests against Shadow DOM updates.
        - attachShadow({ mode: 'closed' })
          - TL;DR: Save yourself the headache and avoid using this mode unless you have a really good reason for it.
          - Shadow DOM content is "closed" off from Light DOM JavaScript.
          - App code will NOT have access to the shadow root if you haven't captured 
            the return value to a variable.

    PROBLEM:
      There's a lot of boilerplate needed to manually wire up functionality.

      - What if we wanted to have two or more songs singing at once?
      - How can we reapply the same behavior without rewriting all the boilerplate?
  -->
{% endblock %}
