{% extends 'application.njk' %}
{% block head %}
  <!-- ===== [1] ===== -->
  <style>
    .verse {
      font-family: monospace;
      margin: 0 0 1em 1em;
    }
  </style>
{% endblock %}

{% block content %}
  <p>
    <button id="restart" type="button">Restart</button> 
  </p>

  <!-- ===== [2] ===== -->
  <div id="song"></div>
  
  <script>
    const elSong = document.getElementById('song')
    const btnRestart = document.getElementById('restart')

    /* ===== [3] ===== */
    const VERSE_LINES = [
      "This is the song that doesn't end",
      "Yes, it goes on and on my friend",
      "Some people started singing it, not knowing what it was",
      "And they'll continue singing it forever just because"
    ]

    /* ===== [4] ===== */
    function sing () {
      // Initialize the VERSE container
      let newVerse = document.createElement('div') /* <div></div> */
      newVerse.classList.add('verse') /* <div class="verse"></div> */

      // build each LINE container
      VERSE_LINES.forEach(function (_line) {
        let elLine = document.createElement('div') /* <div></div> */
        elLine.classList.add('line') /* <div class="line"></div> */
        elLine.innerText = _line /* <div class="line">...</div> */
        newVerse.appendChild(elLine) // append LINE to the VERSE
      })

      elSong.appendChild(newVerse)
    }

    sing() // Start Singing
    window.setInterval(sing, 5000) // Keep singing... forever

    // Wire up "restart" behavior
    btnRestart.addEventListener('click', function () {
      elSong.innerHTML = ''
    })
  </script>

  <!--
    PROBLEM:
    
    HTML for each verse is generated using low level 
    DOM API functions. [3][4]

    While it works, it's not easy to grok.
  -->
{% endblock %}
